In [11]:
import os
import csv
import pandas as pd

In [12]:
file_data = pd.read_csv("Resources/purchase_data.csv")
file_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
file_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [14]:
# Total Number of Players

player_count = len(file_data["SN"].value_counts())

Table = pd.DataFrame({"Total Players": [player_count]})
Table

   Total Players
0            576

In [43]:
# Purchasing Analysis Total

unique_items = len(file_data["Item Name"].value_counts())

avg_price = round(file_data["Price"].mean(),2)
total_purchase = len(file_data["Purchase ID"].value_counts())
total_revenue = file_data["Price"].sum()


table_pa = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [avg_price],
                        "Number of Purchases": [total_purchase], "Total Revenue": [total_revenue]})

table_pa

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [200]:
# Gender Demographics

player_gender = file_data.loc[:, ["SN", "Gender"]]
player_gender.head

player_gender = player_gender.drop_duplicates()
player_gender.head

player_total = player_gender["Gender"].value_counts()
player_total

percent_gender = player_total / player_count * 100
percent_gender

table_gd = pd.DataFrame({"Total Count": player_total, "Percentage of Players": percent_gender})
table_gd

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [229]:
# Purchasing Analysis By Gender

purchase_count = player_total
purchase_count
avg_purchase_price = file_data.groupby(['Gender']).mean()['Price']
avg_purchase_price

total_purchase_gender = file_data.groupby(['Gender']).sum()['Price']
total_purchase_gender

avg_price_person = file_data.groupby(['Gender', 'SN']).mean()['Price']
avg_price_person

table_pa1 = pd.DataFrame({"Total Purchase Count": purchase_count, "Average Purchase Price": avg_purchase_price, 
                         "Total Purchase": total_purchase_gender})
table_pa1

,Total Purchase Count,Average Purchase Price,Total Purchase
Female,81,3.203009,361.94
Male,484,3.017853,1967.64
Other / Non-Disclosed,11,3.346000,50.19