In [61]:
import os
import csv
import pandas as pd

In [62]:
schools_data = pd.read_csv("Resources/schools_complete.csv")
schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [63]:
students_data = pd.read_csv("Resources/students_complete.csv")
students_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [64]:
# Total Schools

total_schools = len(schools_data["school_name"].value_counts())
total_schools

15

In [65]:
# Total Students

total_students = len(students_data["student_name"].value_counts())
total_students

32715

In [66]:
# Total Budget

total_budget = schools_data["budget"].sum()
total_budget

24649428

In [67]:
# average math score

avg_math_score = students_data["math_score"].mean()
avg_math_score

78.98537145774827

In [68]:
# average reading score
avg_reading_score = students_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [69]:
# % of passing in math with pass score bein 70

pass_math = students_data.loc[students_data["math_score"] > 70, ["student_name", "math_score"]]

pass_math.head()

    student_name  math_score
0   Paul Bradley          79
4     Bonnie Ray          84
5  Bryan Miranda          94
6  Sheena Carter          80
8   Michael Roth          87

In [70]:
pass_math_students = len(pass_math["student_name"].value_counts())
pass_math_students

24614

In [71]:
# Percentage of Students who passed in math

percent_math_students = pass_math_students/total_students*100
percent_math_students

75.23765856640685

In [72]:
# Percentage of Students who passed

pass_reading = students_data.loc[students_data["reading_score"] > 70, ["student_name", "reading_score"]]
pass_reading.head()

      student_name  reading_score
1     Victor Smith             94
2  Kevin Rodriguez             90
4       Bonnie Ray             97
5    Bryan Miranda             94
6    Sheena Carter             82

In [73]:
pass_reading_students = len(pass_reading["student_name"].value_counts())
pass_reading_students

27727

In [74]:
pass_percent_reading = pass_reading_students/total_students*100
pass_percent_reading

84.75317132813694

In [75]:
# Overall Passing Percentage

total_pass_percent = (percent_math_students + pass_percent_reading)/2
total_pass_percent

79.9954149472719

In [78]:
# Creating A table for the School Sumamary

table_school_summary = pd.DataFrame({"Total Schools": total_schools, "Total Students": total_students, "Total Budget":
                                    total_budget, "Average Math Score": avg_math_score, "Average Reading Score": 
                                    avg_reading_score, "% Passing Math": percent_math_students, "% Passing Reading": 
                                    pass_percent_reading, "Overall Passing Rate": total_pass_percent})
table_school_summary

ValueError: If using all scalar values, you must pass an index